<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Cadastro</title>
</head>
<body>
    <form action="/" method="POST">
        <label>Qual é o seu nome?</label>
        <input type="text" name="nome" required><br><br>

        <label>Em que ano você nasceu?</label>
        <input type="data" name="aniversario" required><br><br>

        <select name="situacao">
            <option value=""></option>
            <option value="Trabalhando">Trabalhando</option>
            <option value="Estudando">Estudando</option>
            <option value="Desenpregado">Desenpregado</option>
        </select><br><br>

        <button type="submit">form</button>
    </form>
</body>
</html>