<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <style>
        .popup {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #f44336;
            color: white;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.3);
            z-index: 1000;
            font-size: 16px;
            text-align: center;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <video autoplay muted loop playsinline id="meuVideoFundo">
        <source src="/static/videos/ondas-azuis.mp4" type="video/mp4">
    </video>

    <form action="/registro" method="post">
        {{form.email}}
        {{form.senha}}
        {{form.nome}}
        {{form.botao}}
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="popup">
                <p>{{ messages[0][1] }}</p>
            </div>
        {% endif %}
    {% endwith %}

</body>
</html>