<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
</head>
<body>
    {% block texto %}
        <form action="" method="post">
    <div class="form-group">
        <label>Nome:</label>
        {{ form.nome }}
    </div>
    <div class="checkbox">
        <label>
            {{ form.remenber_me }}
        </label>
    </div>
    <button> Enviar </button>
</form>
    {% endblock %}
</body>
</html>